<tr>
  <td class="trainee-image"><%= link_to avatar_user_tag(trainee, "img-circle",
    Settings.image_size_30), [:admin, trainee], title: trainee.name %></td>
  <td><%= link_to trainee.name, [:admin, trainee] %></td>
</tr>
