<div id="users-structure">
  <div class="manager-info">
    <div class="manager">
      <%= link_to avatar_user_tag(@location_support.manager, "img-circle",
        Settings.image_size_30), [:admin, @location_support.manager],
        title: @location_support.manager.name,
        class: "manager-image" %>
      <%= link_to @location_support.manager.name, [:admin, @location_support.manager] %>
    </div>
  </div>

  <div id="tbl-user-structure">
    <div class="structure-content">
    <%= render partial: "trainer", collection: @location_support.trainers,
      as: :trainer %>
  </div>
  </div>
</div>
