<div id="programs">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary edit-program">
        <div class="panel-heading"><%= t "button.edit" %></div>
        <div class="panel-body"><%= render "form", action: "save" %></div>
      </div>
    </div>
  </div>
</div>
