<div class="member-title"><%= t "subjects.modal.trainers" %></div>
<ul class="user-list clearfix">
  <%= render partial: "shared/member",
    collection: @subject_supports.trainers, as: :user %>
</ul>
<div class="member-title"><%= t "subjects.modal.trainees" %></div>
<ul class="user-list clearfix">
  <%= render partial: "shared/member",
    collection: @subject_supports.trainees, as: :user %>
</ul>
