<ul class="user-list clearfix">
  <%= render partial: "shared/member", collection: @subject_supports.users
    .show_members, as: :user %>
  <%= link_to "#", data: {toggle: "modal", target: "#member-modal"},
    title: t("subjects.modal.member_details") do %>
    <li class="plus-node">
      <% if @subject_supports.count_member > 0 %>
        <%= "+#{@subject_supports.count_member}" %>
      <% else %>
        <i class="fa fa-users" aria-hidden="true"></i>
      <% end %>
    </li>
  <% end %>
</ul>
