<div class="prog-bar-cont">
  <div class="prog-bar">
    <div class="prog-bar-bg" style="width:<%= percentage_width percent %>;
      background-size: <%= percent_size percent %>">
      <%= percentage_format percent %>
    </div>
  </div>
</div>
