<div id="TaskModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render "subjects/task_form", task: @subject_supports.task_new,
        user_task: @subject_supports.user_task_handle %>
    </div>
  </div>
</div>
