<div class="subject">
  <div class="subject-name">
    <%= link_to admin_subject_task_masters_path(subject),
      title: subject.name do %>
      <%= set_image subject, Settings.image_size_40 %>
      <%= subject.name %>
    <% end %>
  </div>
  <div>
    <% profiles.each do |profile| %>
        <%= render "trainee", profile: profile %>
      <% end %>
  </div>
</div>
