<div class="free-trainee">
  <div class="subject">
    <div class="subject-name">
      <%= image_tag "user.png", size: Settings.image_size_40 %>
      <span class="title-name"><%= t "organization_charts.free_trainee" %></span>
    </div>
    <div>
      <% profiles.each do |profile| %>
        <%= render "trainee", profile: profile  %>
      <% end %>
    </div>
  </div>
</div>
