#assign-member-modal {
  .modal-dialog {
    width: 75%;
  }

  .panel-body {
    padding: 0;
  }

  .panel-info {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .assign-member {
    margin-bottom: 15px;
    min-width: 50px;
  }

  .state-icon {
    left: -5px;
  }

  #list-users {
    height: 58vh;
    overflow-y: auto;
  }

  #list-trainers {
    height: 20vh;
    overflow-y: auto;
  }

  #list-trainees {
    height: 20vh;
    overflow-y: auto;
  }

  .list-group {
    margin-bottom: 0;
  }

  .count-member {
    text-align: right;
  }

   .panel-heading {
     color: white;
     background-color: teal;
   }
}
