@import "variables";
@import "mixin";

#evaluation_templates {
  @include customize-scrollbar;

  .fixedTable-body {
    height: auto;
  }

  .fixedTitle, .fixedTable-sidebar, #parent, #child {
    width: 335px;
  }

  .scrollbarH {
    margin-left: 335px;
  }

  .scrollbar {
    top: 30px;
  }

  .fixedTitle, .fixedTable-header {
    max-height: 31px;
    min-height: 31px;
    height: 31px;
  }

  .list-selected-standards {
    margin-bottom: 20px;
  }

  .tcell {
    &.stt {
      @include ellipsis(35px);
    }

    &.evaluation_template_name {
      @include ellipsis(700px);
      position: relative;
    }

    &.action-edit, &.action-delete {
      @include ellipsis(100px);
    }
  }

  .selected {
    background-color: #90B6EE;
  }

  /* css item select */
  .select-item-evaluation-templates{
    background-color: bisque;
  }

  .left{
    margin-bottom: 15px;
  }

  .add-evaluation{
    margin: 5px 0 5px 0;
  }
  .remove-all-evaluation{
    margin: 5px 0 5px 0;
  }
  .btn-add {
    width: 40px;
    height: 35px;
    background-color: cadetblue;
    border: none;
  }
  .index-nonselect{
    height: 100%;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
  }

  .index-select{
    height: 100%;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
  }
  .content_item{
    height: 100%;
    padding-top: 8px;
    border-bottom: 1px solid #ddd;
  }

  .one-item{
    height: 45px;
    margin-bottom: 3px;
  }

  .list-group{
    overflow-y: auto;
  }
  .pull-right{
    margin-left: 10px;
  }
  .noneselected-list-standards {
    .panel-heading {
      color: white;
      background-color: cadetblue;
      border-color: #bce8f1;
    }
  }
  .selected-list-standards {
    .panel-heading {
      color: white;
      background-color: darkseagreen;
      border-color: #d6e9c6;
    }
  }
  .new-evaluation-standard {
    color: white;
  }

  .selected-evaluation-standards, .noneselected-evaluation-standards {
    min-height: 120px;
    max-height: 120px;
  }
}
.button-new-evaluation-templates {
  min-height: 25px;
}
