@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixin";
@import "flexslider";

@include make-grid(sm);
@include make-grid(md);
@include make-grid(lg);

#users {
  .timeline > li > .timeline-panel {
    width: 90% !important;
  }

  .alwaysbreak {
    page-break-before: always;
  }

  .nobreak:before {
    clear:both;
  }

  .nobreak {
    page-break-inside: avoid;
  }
}
