#programs {
  .new-program, .edit-program {
    .dataTables_wrapper .dataTables_filter input, .label-select {
      margin-left: 15px !important;
    }
    .program-type select {
      width: 48%;
      padding-left: 3px;
    }
  }
}
