#stage-edit {
  .for-form {
    height: 35px;
    border: 1px solid #cecece !important;
    width: 100%;
  }

  input.for-form {
    padding: 6px 22px;
  }

  .stage-selection {
    margin: 10px auto;
  }
}
