#list-subjects {
  .input-group-btn {
    padding-top: 20px;
    padding-left: 50px;
  }
  .search-subject {
    padding-left: 10px;
  }

  .subject-name {
    width: 30%;
  }

  .tbl-subject {
    .name {
      width: 10%;
    }
    .avatar {
      width: 10%;
    }

    .description {
      width: 20%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 150px;
      max-width: 250px;
    }

    .content {
      width: 20%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 150px;
      max-width: 250px;
    }

    .during_time, .action {
      width: 20%;
      text-align: center;
    }
  }
  .form-new-tasks {
    padding-top: 10px;
    margin: 0px;
    background-color: #CEF6D8;
    .remove-field {
      padding-left: 0px;
    }
  }
}

#admin-subject-show {
  .subject-name {
    margin-top: 0px;
  }

  .working-days {
    padding-top: 5px;
    color: #D02421;
  }

  .documents {
    color: #D02421;
  }

  .content-subject {
    padding-left: 10px;
  }

}

#add-task-masters {
  padding-left: 17%;
  font-weight: bold;
}

#edit-subject-detail {
  input.subject-detail {
    width: 70px;
    margin: 0 15px;
  }
  #per-questions {
    margin-bottom: 60px;
    min-height: 15px;
  }

  .group-select {
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

#categories-label {
  background-color: #ddd;
  text-align: center;
  font-size: 16px;
}

.prog-bar-cont{
  height: 2.5em;
  padding: 0.5em;
  position: relative;
  top: 50%;
  box-sizing: border-box;
  .prog-bar{
    background: #000;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 1px 3px rgba(white, 0.75) inset;
    background: transparent;
    &:before{
      border-radius: 50px;
      content: '';
      display: block;
      height: 100%;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }

    .prog-bar-bg{
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to right, mix(violet, deepskyblue, 20%),
       mix(limegreen, yellow, 70%), yellow, orange, mix(red, deeppink, 20%));
      &:before{
        content: '';
        display: block;
        height: 100%;
        box-sizing: border-box;
        opacity: 0.75;
        mix-blend-mode: overlay;
      }
    }
  }
}

#update_project {
  .modal-body {
    min-height: 100px;
    max-height: 800px;
  }

  #loading-project {
    display: none;
    margin-left: 48%;
    height: 30px;
    text-align: center;
    background: asset_url("loading.gif") no-repeat;
    background-size: 30px 30px;
  }

  #list-requirements {
    max-height: 400px;
    overflow: auto;

    .list-group {
      margin-bottom: 0px;
    }
  }

  .list-group-item-info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
  }

  .state-icon {
    left: -5px;
  }

  #sA-requirements {
    margin-bottom: 5px;
    padding-left: 15px;
    display: none;
    cursor: pointer;
  }
}

#subject-detail-modal {
  #remove-subject-detail {
    display: none;
  }
}
