#users {
  padding-top: 0px;
  .tbl-user {
    .name, .email, .role{
      width: 25%;
    }
    .action {
      width: 25%;
      text-align: center;
    }
  }

  input.form-control {
    width: 100%;
  }

  .courses {
    .user-subject {
      height: 10px;
      td p {
        margin-left: 20px;
      }
    }
    hr {
      margin-bottom: 0px;
      margin-top: 25px;
    }
  }

  .profile-form {
    padding-left: 30px;
    display: none;
  }

  .edit_user, .new_user {
    .plus {
      margin-top: 9px;
    }

    #user_profile_attributes_location_id {
      width: 101%;
    }
  }

  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }

  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 25px;
    margin-right: -1.5px;
  }

  .timeline > li {
    margin-bottom: 20px;
    margin-left: -10px;
    position: relative;
  }

  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }

  .timeline > li:after {
    clear: both;
  }

  .timeline > li > .timeline-panel {
    width: calc( 100% - 75px );
    float: right;
    border-radius: 2px;
    background-color: #fff;
    padding: 0px 20px 0px 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }

  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    left: -15px;
    display: inline-block;
    content: " ";
  }

  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    left: -13px;
    display: inline-block;
    content: " ";
  }

  .timeline > li > .timeline-panel.primary {
    border: 1px solid #2e6da4;
  }

  .timeline > li > .timeline-panel.success {
    border: 1px solid #3f903f;
  }

  .timeline > li > .timeline-panel.warning {
    border: 1px solid #f0ad4e;
  }

  .timeline > li > .timeline-panel.danger {
    border: 1px solid #d9534f;
  }

  .timeline > li > .timeline-panel.info {
    border: 1px solid #5bc0de;
  }

  .timeline > li > .timeline-panel.primary:after {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #fff;
    border-left: 0 solid #fff;
  }

  .timeline > li > .timeline-panel.primary:before {
    border-top: 15px solid transparent;
    border-right: 15px solid #2e6da4;
    border-left: 0 solid #2e6da4;
    border-bottom: 15px solid transparent;
  }

  .timeline > li > .timeline-panel.success:after {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #fff;
    border-left: 0 solid #fff;
  }

  .timeline > li > .timeline-panel.success:before {
    border-top: 15px solid transparent;
    border-right: 15px solid #3f903f;
    border-left: 0 solid #3f903f;
    border-bottom: 15px solid transparent;
  }

  .timeline > li > .timeline-panel.warning:after {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #fff;
    border-left: 0 solid #fff;
  }

  .timeline > li > .timeline-panel.warning:before {
    border-top: 15px solid transparent;
    border-right: 15px solid #f0ad4e;
    border-left: 0 solid #f0ad4e;
    border-bottom: 15px solid transparent;
  }

  .timeline > li > .timeline-panel.danger:after {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #fff;
    border-left: 0 solid #fff;
  }

  .timeline > li > .timeline-panel.danger:before {
    border-top: 15px solid transparent;
    border-right: 15px solid #d9534f;
    border-left: 0 solid #d9534f;
    border-bottom: 15px solid transparent;
  }

  .timeline > li > .timeline-panel.info:after {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #fff;
    border-left: 0 solid #fff;
  }

  .timeline > li > .timeline-panel.info:before {
    border-top: 15px solid transparent;
    border-right: 15px solid #5bc0de;
    border-left: 0 solid #5bc0de;
    border-bottom: 15px solid transparent;
  }

  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    padding-top: 12px;
    top: -25px;
    left: 11px;
    margin-right: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }

  .timeline-badge.success {
    background-color: #3f903f !important;
  }

  .timeline-badge.warning {
    background-color: #f0ad4e !important;
  }

  .timeline-badge.danger {
    background-color: #d9534f !important;
  }

  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  .timeline-badge {
    margin-top: 40px !important;
  }
  .box-header {
    padding: 0px 0px 0px 10px !important;
  }
  .box-header.with-border {
    border-bottom: none !important;
  }
  .timeline-profile {
    margin-top: 20px;
  }

  .profile-username {
    font-size: 21px;
    margin-top: 13px;
  }

  ol, ul {
    list-style: none;
  }
  .info_prof {
    background-color: #fff;
  }
  .main-title {
    font-family: 'open_sansextrabold',Arial,sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    color: #333333;
    font-weight: normal;
    text-transform: uppercase;
  }
  .skill .title {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    left: -37px;
    padding: 5px 25px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 60px;
    font-size: 20px;
  }
  .skill .title.dev {
    border: 1px dashed #00b4d9;
  }

  .progress {
    background-color: #888888;
  }

  .personal-skill {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 25px;
  }

  .tag-content {
    margin-top: 25px;
  }

  .progress.xs, .progress-xs {
    height: 10px;
  }

  .advantage {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    background-color: #00a65a !important;
    color: white;
  }

  .img-custom {
    margin: 0 auto;
    width: auto;
    padding: 3px;
    border: 3px solid #d2d6de;
  }

  .icon-profile {
    color: #e53f51;
  }

  .disadvantage {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    background-color: #dd4b39 !important;
    color: white;
  }
  .bar-width {
    width: 55%
  }
}
