<div class="fixedTitle" id="fixed-bottom-sidebar"></div>
<header class="fixedTable-header" id="fixed-bottom-body">
  <div class="scroll-university">
    <div class="tcell text-right text-danger number_trainees total-trainees"
      id="total-trainees-university">
    </div>
  </div>
</header>
