<div class="div_user_task">
  <% if @to_do_lists.any? %>
    <% @to_do_lists.each do |user_task| %>
      <% if user_task.inprogress? && user_task.user_subject.end_date &&
        user_task.user_subject.end_date > Time.now %>
        <div class="dolist">
          <%= link_to user_task_path(user_task), remote: true do %>
            <div class="task">
              <h5><%= t "tasks.task_name", task: user_task.task.name %></h5>
            </div>
            <div class="space"></div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
