<div class="div_task_finished_on_day ">
  <% if @to_do_lists.any? %>
    <% @to_do_lists.each do |user_task| %>
      <% if user_task.finished? &&
        user_task.updated_at.to_date == Time.now.to_date %>
        <div class="dolist">
          <%= link_to user_task_path(user_task), remote: true do %>
            <div class="task">
              <h5>
                <h5><%= t "tasks.task_name", task: user_task.task.name %></h5>
              </h5>
            </div>
            <div class="space"></div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
