<% provide :submit, t("buttons.create") %>
<div id="evaluation-standards" class="evaluation-active">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading"><%= t "roles.panel.new" %></div>
        <div class="panel-body"><%= render "form" %></div>
      </div>
    </div>
  </div>
</div>
