<div id="user-task-<%= user_task.id %>" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render "subjects/task_form", task: user_task.task, user_task: user_task %>
    </div>
  </div>
</div>
