<% if @subject.subject_kick_offs.any? %>
  <div id="kickoff_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="label-modal">
            <%= t "subjects.show.kickoff_for_subject", subject: @subject.name %>
          </h4>
        </div>
        <div class="modal-body">
          <div class="flexslider">
            <ul class="slides">
              <%= render @subject.subject_kick_offs %>
            </ul>
          </div>
          <button id="skip-kickoff" class="btn btn-primary">
            <%= t "subjects.show.skip_kickoff" %>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
