<% @subject_supports.task_statuses.each do |key, value| %>
  <div class="status">
    <i class="fa fa-circle <%= set_color_status key %>" aria-hidden="true"></i>&nbsp;
    <%= t "subjects.tasks.#{key}_tasks" %>
    <%= @subject_supports.send "number_of_task_#{key}" %>/
    <%= @subject_supports.user_tasks.size %>
  </div>
<% end %>
