<div class="note row" id="user-task-row-<%= user_task.id %>">
  <%= render "subjects/user_task_row", user_task: user_task %>
  <%= render "subjects/edit_task_modal", user_task: user_task %>
  <%= render "subjects/add_pull_task_modal", user_task: user_task %>
</div>
