<% unless @subject_supports.user_subject.init? %>
  <div id="user-subjects-charts"
    data-user-name="<%= @subject_supports.user_tasks_chart_data.keys %>"
    data-total-number-tasks="<%= @subject_supports.user_tasks_chart_data.values %>">
  </div>
<% end %>
