<div id="main">
  <div id="content">
    <div id="change_function">
      <div class="table">
        <%= render "shared/datatables/allocate_function_header" %>
        <%= @supports.presenter(f).html_safe %>
      </div>

      <div class="pull-right" id="number-records">
        <%= i18n_pluralize @role.functions.size, Settings.record %>
      </div>

      <div class="list-filters">
        <div class="filter-form">
        </div>
      </div>
    </div>
  </div>
</div>
