<% provide :title, t("faq.index.title") %>

<div id="faq">
  <div class="row">
    <div class="col-md-8 post-content">
      <%= render "posts/content_posts" %>
    </div>
    <div class="col-md-4 sidebar">
      <%= render "sidebar",
        parts: ["search", "most_viewed_posts", "popular_tags"] %>
    </div>
  </div>
</div>
