#admin-header, #trainer-header {
  .main-header {
    background-color:  #1da1f2
  }
  a {
    color: white;
  }
  a:hover {
    color: black;
    background-color:  #1da1f2;
  }
  .control-sidebar {
    a:hover {
      color: black;
      background-color: #e1e3e9;
      border-left: 3px solid black;
    }
    a:focus {
      color: black;
      background-color: #e1e3e9;
    }
  }
  a:focus {
    color: black;
    background-color: #1da1f2;
  }

  .user-profile-navbar a:hover {
    border-left: none;
    background-color: transparent;
  }


  #dropdown-admin {
    a {
      color: whitesmoke;
    }
    a:hover {
      color: blue;
    }
    ul {
      background: transparent;
      border: transparent
    }
    li {
      list-style: none;
    }
  }
  .image-user-profile {
    a:hover {
      color: deepskyblue;
    }
  }
}
