/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require status_color
 *= require datatable
 *= require sign_in
 *= require users
 *= require courses
 *= require tasks
 *= require training_management
 *= require custom
 *= require jquery-ui/dialog
 *= require jquery-ui/slider
 *= require admin/course
 *= require admin/courses
 *= require admin/subject
 *= require admin/user_subjects
 *= require admin/rank
 *= require admin/trainee
 *= require admin/roles
 *= require admin/evaluation_template
 *= require admin/task
 *= require admin/evaluation
 *= require admin/programming_language
 *= require admin/status
 *= require admin/profile
 *= require admin/types
 *= require admin/universities
 *= require admin/users
 *= require admin/notes
 *= require admin/assign_user
 *= require bootstrap-datepicker3
 *= require admin/AdminLTE.min
 *= require admin/location
 *= require user_courses
 *= require footer
 *= require subject
 *= require table_config
 *= require statistic
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require chat_layout
 *= require admin/organization_charts
 *= require exams
 *= require jquery.countdown
 *= require admin/question
 *= require spectrum
 *= require admin/program
 *= require fullcalendar.min
 *= require ionicons.min
 *= require full_calendar
 *= require login_modal
 *= require navbar_head
 *= require admin_trainer_navbar_head
 *= require admin/stage
 *= require admin/import
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixin";

.filters {
  @include customize-scrollbar;
  margin-top: 10px;
  font-weight: normal;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  width: 250px;
  height: auto;
  position: absolute;
  display: none;
  text-align: left;
  z-index: 1000;
  top: 100%;
  &:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
  }
  .lef-offset {
    margin-left: 15px;
  }

  &:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: "";
  }
  label {
    font-weight: normal;
  }
  .quick-searching {
    position: absolute;
    z-index: 2;
    left: auto;
    right: 15px;
    top: 100px;
    font-size: 14px;
    width: 20px;
    margin-right: -2.5px;
    text-align: center;
    padding: 10px 0;
    display: none;
  }
  .options {
    @extend .lef-offset;
    overflow: auto;
    white-space: nowrap;
    max-height: 150px;
    label {
      width: 87%;
    }
  }
  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  .filter_clear {
    margin-left: 5px;
  }
  .sortable {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin-top: 5px;
    &:hover {
      background-color: #ccc;
      width: 100%;
      text-decoration:none;
    }
    background-color: white;
    border: 0px;
    text-align: left;
    cursor: pointer;
    .sort-link {
      @extend .lef-offset;
      text-decoration:none;
      color:  #333333;
    }
  }
  .filter {
    @extend .lef-offset;
    margin-right: 15px;
  }
  .filter_actions {
    @extend .lef-offset;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .text-center {
    a:last-child {
      margin-left: 10px;
    }
  }
  input {
    padding-right: 0px;
  }
  .buttons {
    float: left;
    @extend .lef-offset;
    margin-bottom: 10px;
    .btn {
      min-width: 60px;
      margin-right: 5px;
    }
  }
}
.filter-right-arow {
  &:before {
    left: auto;
    right: 9px;
  }

  &:after {
    left: auto;
    right: 10px;
  }
}

.filters {
  input {
    padding-right: 6px;
  }

  input[id*=date] {
    border-radius: 3px;
  }
}

#filter-loading {
  float: right;
  font-size: 15px;
  margin-right: 5px;
  color: #EB3D3D;
}

.btn-filter-off, .btn-filter-off:focus {
  background: no-repeat url(image_path("filter_sprite.png")) -19px -2289px;
  border-radius: 2px !important;
}

.btn-filter-on, .btn-filter-on:focus {
  color: #333;
  background: #e6e6e6 url(image_path("filter_sprite.png")) 2px -63px;
  border-color: #adadad;
  box-shadow: inset 0px 0px 0.1px rgba(0, 0, 0, 0.5), inset 0px 0px 6px rgba(157, 157, 157, 0.5);
  border-radius: 2px !important;
}

.ic-filter-off {
  pointer-events: none;
  background: no-repeat url(image_path("filter.png")) -247px -124px !important;
}

#btn-filter-on-off {
  float: right;
  cursor: pointer;
  width: 15px;
  height: 28px;
}

.filter-loading-offset-top, {
  margin-top: 8px;
}

.chart-link-offset-top {
  margin-top: 10px;
}

.open-select {
  .ic {
    cursor: pointer;
    list-style: none;
    width: 12px;
    height: 12px;
    outline: none;
    position: absolute;
    z-index: 7;
    top: 2px;
    right: 1px;
    zoom: reset;
  }

  .ic-filter {
    background: no-repeat url(image_path("filter.png")) 0 0;
    &:hover {
      background: no-repeat url(image_path("filter.png")) -388px -111px;
    }
  }

  .ic-filtered {
    background: no-repeat url(image_path("filter.png")) -167px -40px;
    &:hover {
      background: no-repeat url(image_path("filter.png")) -487px -84px;
    }
  }
}
.div-space {
  height: 100%;
  width: 25%
}

.display-none {
  display: none;
}
