@import "mixin";

html {
  position: relative;
  min-height: 100%;
}

#body-admin, .content-wrapper {
  background-color: #F6F8F8 !important;
  padding: 0;

  .content {
    min-height: calc(100vh - 50px);
  }
}

#body-user {
  background-color: #F6F8F8 !important;
  padding: 0;
  padding-top: 70px;
  height: 100%;
}

.body_home {
  background-color: #fff;
}

.body-wrapper-content {
  padding-top: 0px;
}

.body_wrapper {
  min-height: 70%;
}

select {
  width: 150px;
  text-align: center;
  height: 30px;
}

select .lt {
  text-align: center;
}

select {
  text-indent: 5px;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  color: #474647;
  font-size: 22px;
}

.label {
  font-size: 100%;
  margin: 5px;
  padding: 5px;
}

.label-danger {
  background: #9ea3a9;
}

.nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  cursor: pointer;
}

.remove-field {
  font-weight: bold;
}

.highlight {
  background-color: yellow
}

.info-panel {
  .user-list {
    padding-left: 3px;

    li {
      margin: 6px;
      list-style: none;
      float: left;
    }
  }

  .plus-node {
    background-color: #b3b3b3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 2;
    color: white;
    a {
      color: WHITE;
    }
  }

  .plus-node:hover {
    background-color: #E0E1DD;
  }

  .doc-field {
    padding-left: 28px;
    list-style-type: circle;

    a {
      text-decoration: underline !important;
    }

    abbr[title] {
      border-bottom: none;
    }
  }

  .box-title {
    color: #575a5b;
    margin: 0px;
  }
}

.card {
  margin-bottom: 10%;
  padding: 10%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 7px;

  #complete {
    margin-top: 30px;
    color: #aebdc1;
  }

  .course-infor {
    padding-top: 11px;
  }
}

.label-status {
  border-radius: 3px;
  color: white;
  font-weight: 500;
  padding: 0px 3px 1px 5px;
}

.box-divider {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;

  .label-title {
    color: #257C94;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress {
  margin-bottom: 0;
  background-color: WHITE;
}

.progress-bar {
  color: BLACK;
  font-weight: bold;
}

.notification-content {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 1.5;
}

.notification-date {
  font-size: 10px;
  color: #999;
}

.user-notification {
  .notification-table {
    background-color: white;
    a {
      color: black;
    }
  }
}

.flash {
  position: fixed;
  z-index: 10000;
  right: 0px;
  top: 60px;
  opacity: 0.6;

  .close {
    font-weight: normal;
    text-decoration: none;
  }
}

.dashboard-chart {
  margin-top: 50px;
}

.title {
  min-height: 30px;
}

.text-blue {
  color: blue;
}

input.profile, .profile-input {
  width: 70%;
}

.datepicker .btn {
  margin: 5px 15px;
  width: 70px;
  padding: 3px 12px;
}

#user-subject {
  .edit_user_subject {
    margin-top: -4px;
  }
  .edit-date-button {
    margin-top: 10px;
  }
  .user-task-info tr:hover {
    background: #DDEBD7;
  }
}

.switch-role {
  position: relative;
  .btn-warning {
    margin-left: -5px;
    padding: 4px 13px;
  }
}

.switch-role:hover {
  .btn-warning {
    display: none;
    width: 50px;
  }
  .drop {
    position: absolute;
    list-style: none;
    left: -40px;
    margin-left: -6px;
    display: inline !important;
    width: 50px;

    a.admin {
      background-color: #64B5F6;
      width: 75px;
    }
    a.trainer {
      background-color: #FFB74D;
      width: 75px;
    }
    a.trainee {
      background-color: #607D8B;
      width: 75px;
    }
  }
}

.hidden {
  visibility: hidden;
}

.message-dont-have-record {
  margin-top: 20px;
}

.clear-both {
  clear: both;
}

#link {
  width: 700px;
}

textarea {
  resize: none;
}

.highlight {
  background: rgba(160, 195, 255, 0.5) !important;
}

.high-light, .highlight-click {
  background: #FEFFB7 !important;
}

.scrollbar {
  position: absolute;
  top: 61px;
  right: 0px;
  z-index: 2;
  width: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFF;
}

.scrollbarH {
  bottom: 0px;
  margin-left: 245px;
  z-index: 2;
  height: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #FFF;
}

.divider {
  margin-top: 10px;
}

.pop-up {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg_right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 12px;
  border-left: 1px solid #ccc;
  background: #fff;
}

#loading {
  position: absolute;
  width: 28px;
  top: 115px;
  right: 50px;
  display: none;
}

.modal {
  text-align: center;
  border-radius: 10px;

  .modal-footer {
    text-align: center !important;
    .btn {
      margin: 0 10px;
    }
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .modal-content {
    .btn {
      font-size: 18px;
    }
  }

  .modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
  }

  .dangerous {
    background-color: red;
  }

  .label-dialog-status {
    font-weight: bold;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.date_input {
  float: right;
  width: 170px;
}

.f-filter-month {
  padding: 10px;
  .margin-top-20 {
    margin-top: 20px;
  }

  .btn-sm {
    width: 60px;
  }

  #date_submit {
    margin-right: 5px;
  }
}

.awesome {
  background: white !important;
  border: black double thin !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px !important;
}
