@import "variables";
@import "mixin";

#exams {
  @include customize-scrollbar;
  #show-exam, #do-exam {
    margin-top: 30px;
    .question-title {
      font-size: 18px;
      margin: 5px 0 20px 0;
      font-weight: bold;
    }

    .result-correct {
      background-color: #00e200;
    }

    .result-not-correct {
      background-color: #ffc3c3;
    }

    .question-content {
      position: relative;
      span {
        margin-left: 20px;
        font-weight: normal;
        font-size: 16px;
      }

      .list-group-item-success {
        color: red;
        background: transparent;
      }
    }

    .question-content:hover {
      background-color: #DDEBD7;
    }

    input[type='radio']:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: 0px;
      left: -1px;
      position: relative;
      background-color: #d1d3d1;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
    }

    input[type='radio']:checked:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: 0px;
      left: -1px;
      position: relative;
      background-color: black;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
    }

    label {
      cursor: pointer;
      padding: 0 20px;
    }

    #clock {
      font-size: 16px;
      font-weight: bold;
      border: none !important;
      background-color: inherit !important;
    }

    .timer {
      border: 1px solid #E6E6E6;
      background-color: #CECECE;
      float: right;
      position: fixed;
      right: 70px;
      top: 140px;
      width: 200px;
      padding-bottom: 10px;
    }
    .do-exam, .show-exam {
      background-color: #fff;
      border-radius: 20px;
      padding: 30px;
      margin-bottom: 30px;
    }
  }

  .right-side-do-exams {
    position: fixed;
    right: 45px;
    top: 120px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    height: 300px;
    width: 250px;
    .subject-title {
      margin-top: 130px;
      text-align: center;
    }
  }

  .button-exam {
    position: fixed;
    right: 70px;
    background-color: #fff;
    top: 350px;
    border: none;
    .btn {
      width: 98px;
    }
  }

  .fixedTable-body {
    height: auto;
  }

  .table {
    width: 1518px;
  }

  .fixedTitle, .fixedTable-sidebar, #parent, #child {
    width: 235px;
  }

  .scrollbarH {
    margin-left: 235px;
  }

  .scrollbar {
    top: 30px;
  }

  .fixedTitle, .fixedTable-header {
    max-height: 31px;
    min-height: 31px;
    height: 31px;
  }

  .tcell {
    &.stt {
      min-width: 35px;
      max-width: 35px;
    }

    &.subject_name {
      min-width: 200px;
      max-width: 200px;
      position: relative;
    }

    &.course {
      min-width: 300px;
      max-width: 300px;
      position: relative;
    }

    &.created_at {
      min-width: 150px;
      max-width: 150px;
      position: relative;
    }

    &.spent_time {
      min-width: 130px;
      max-width: 130px;
      position: relative;
    }

    &.score {
      min-width: 100px;
      max-width: 100px;
      position: relative;
    }

    &.name {
      min-width: 200px;
      max-width: 200px;
      position: relative;
    }

    &.course_start_date, &.course_end_date {
      min-width: 210px;
      max-width: 210px;
      position: relative;
    }

    &.none {
      display: table-cell;
      border-right: none;
      border-top: 2px solid #ccc;
    }
  }
}

#exam-index {
  background-color: #ffffff;
  font-size: 16px;
  thead {
    background-color: #E1E1E1;
  }
}
