#calendar {
  max-width: 900px;
  margin: 5px auto;
}

#tiny-calendar {
  width: 220px;
  margin: 0 auto;
  min-height: 250px;

  .fc-row {
    min-height: 2em !important;
  }

  .fc-toolbar {
    font-size: 9px;
    margin: 5px auto;
    padding: 5px;
  }

  .fc-toolbar h2 {
    margin-top: 5px;
    font-size: 16px;
    white-space: normal !important;
  }

  .fc-day-header {
    font-size: 12px;
  }

  .fc-day-number {
    font-size: 13px !important;
  }
  .fc-day-number:hover, .fc-day-top:hover{
    background: lightblue;
  }
  .fc-day-top {
    height: 28px;
  }
  .fc-row .fc-content-skeleton {
    padding-bottom: 0px;
  }
  .fc-today {
    border: double thin yellow;
  }
}

