#calendar {
  .fc-header {
    vertical-align: top;
    border: none !important;
  }
  max-width: 900px;
  margin: 5px auto;
  padding: auto;
  .fc-head .fc-head-container .ui-widget-header {
    text-align: center;
    width: 100%;
    border-color: #D2D2D2;
    background: #5F9EA0;
    color: #fff;
    height: 30px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .fc-day-header .ui-widget-header {
    border: none;
  }
  margin-bottom: 100px;
}

#tiny-calendar {
  width: 220px;
  margin: 0 auto;
  min-height: 250px;
  .fc-head-container .ui-widget-header {
    background: #9FB6CD;
    color: #fff;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 0;
  }
  .fc-row {
    min-height: 2em !important;
  }

  .fc-toolbar {
    font-size: 9px;
    margin: 5px auto;
    padding: 5px;
  }

  .fc-toolbar h2 {
    margin-top: 5px;
    font-size: 16px;
    white-space: normal !important;
  }

  .fc-day-header {
    font-size: 12px;
  }

  .fc-day-number {
    font-size: 13px !important;
  }
  .fc-day-number:hover, .fc-day-top:hover{
    background: lightblue;
  }
  .fc-day-top {
    height: 28px;
  }
  .fc-row .fc-content-skeleton {
    padding-bottom: 0px;
  }
  .fc-today {
    border: double thin yellow;
  }
}

