#user-header {
  .navbar .navbar-nav li a {
    padding: 0 10px;
    position: relative;
  }


  .navbar .navbar-nav li.m_2 a {
    line-height: 38px;
  }
  .navbar .navbar-nav li .dropdown-menu li a i {
    margin: 0 10px 0 -5px;
    border: none;
  }
  .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #f2f4f8 !important;
  }
  .navbar .navbar-nav li .dropdown-menu li a .label {
    position: absolute;
    right: 10px;
    top: 11px;
  }
  .label.label-info {
    background-color: #ef553a;
  }
  .label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
  }

  .navbar .navbar-nav li .dropdown-toggle.avatar img {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    border: 1px solid #c0cadd;
  }
  .navbar .navbar-nav li .dropdown-menu li a i {
    margin: 0 10px 0 -5px;
    border: none;
    color: rgb(6, 217, 149);
  }

  .navbar .navbar-nav li .dropdown-menu li.avatar {
    min-width: 300px;
    height: 56px;
    padding: 0px 15px;
  }
  .navbar .navbar-nav li .dropdown-menu li {
    padding: 0;
    position: relative;
    min-width: 100%;
    border-bottom: 1px solid #e1e6ef;
  }

  .navbar .navbar-nav li .dropdown-menu li.avatar a {
    line-height: 59px;
    height: 59px;
    padding: 9px 15px;
  }

  .navbar .navbar-nav li .dropdown-menu li a img {
    height: 40px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    border: 1px solid #e1e6ef;
    margin: 0px 10px 0 -5px;
    float: left;
  }


  .navbar .navbar-nav li .dropdown-menu li.avatar a .label {
    top: 20px;
  }
  .navbar .navbar-nav li a .badge {
    background: #ff5454;
    border: 2px solid white;
    position: absolute;
    top: 9px;
    right: 3px;
    font-size: 8px;
    line-height: 8px;
    padding: 4px 6px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    min-width: 0;
  }
  .navbar-default.sidebar {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
  }
  nav.top1.navbar.navbar-default.navbar-static-top {
    background-color: rgb(6, 217, 149);
    font-family: 'Roboto', sans-serif;
  }
  .navbar-default .navbar-brand {
    color: #fff !important;
    font-size: 30px;
    font-weight: 500;
  }
  .navbar-right {
    margin-right: 10px !important;
  }

  i.nav_icon {
    color: #fff;
    margin-right: 6px;
  }
  .sidebar ul li a {
    color: #999;
    font-size: 14px;
  }
}

.content {
  background-color: whitesmoke;
}

.sidebar-menu > li > .dropdown-menu {
  margin-top: -50px;
  margin-right: 230px;
}

.sidebar-menu > li > .dropdown-menu-right {
  background-color: rgb(34,45,50);
}
.sidebar-menu a {
  color: whitesmoke;
}

.dropdown {
  position: relative;
}
.sidebar-menu {
  .dropdown:hover .dropdown-menu-right {
    display: block;
  }
  .li-logout {
    border-top: double thin;
  }
}
.error {
  p {
    color: red !important;
  }
}

#admin-header {
  .flag-language {
    padding-top: 12px;
  }
}

#user-header {
  .navbar-default .navbar-nav > .open > a {
    background-color: #fff;
  }
}

.sidebar-menu > .dropdown > ul > li {
  a {
    color: white;
  }
  a:hover {
    color: black;
  }
}

.user-profile-navbar {
  width: 100%;
  background: url(http://i.imgur.com/KmVLPIh.jpg);
  display: flex
}
.user-profile-navbar {
  a {
    color: white;
  }
  .image-user-profile {
    padding: 5% 0 5% 5%;
  }
}

#user-header {
  .slimScrollDiv {
    height: 250px !important;
    ul {
      height: 250px !important;
    }
  }
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10%;
  }
  a {
    color: rgb(89,169,187) !important;
  }
  a:hover {
    color: black !important;
  }
}

#user-header > nav > .container-fluid > ol {
  padding-top: 15px;
  font-size: 15px;
  a {
    padding-right: 20px;
    color: black;
  }
}

#bs-example-navbar-collapse-1 {
 .messages-menu .fa-bell-o, .fa-file-excel-o {
   padding-top: 15px;
   font-size: 20px;
 }
}

#dropdown-profile a {
  border-left: double thin;
}
