@import "variables";
@import "mixin";

#roles-edit, #roles {
  .space {
    height: 20px
  }

  .table {
    min-height: 120px;
  }

  #child,#parent, .fixedTitle, #table-sidebar {
    min-width: 355px;
    max-width: 355px
  }

  .filters {
    top: 28% !important;
    left: 29% !important;
  }

  input[type="checkbox"] {
    margin: 0px;
  }

  @include customize-scrollbar;
  .fixedTable-body {
    height: auto;
  }

  .tcell {
    height: 24px;
    width: 135px;
    &.stt {
      min-width: 35px;
      max-width: 35px;
    }

    &.controller_name {
      min-width: 320px;
      max-width: 320px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
