@import "variables";
@import "mixin";

#statistics {
  @include customize-scrollbar;

  #total_trainees {
    .fixedTable-body {
      height: auto;
    }

    .fixedTitle, .fixedTable-sidebar, #parent, #child {
      width: 310px;
    }

    .tcell {
      &.stt {
        min-width: 35px;
        max-width: 35px;
      }

      &.trainee_type {
        text-align: left;
        text-transform: capitalize;
        border-left: 0;
        @include ellipsis(150px);
        position: relative;
      }

      &.language{
        @include ellipsis(125px);
        position: relative;
      }

      &.trainee-by-month{
        @include ellipsis(100px);
      }
    }

    .month {
      @include experiences-title(31px);
      position: relative;
    }

    .all-months {
      position: relative;
      border-right: 1px solid #ccc;
      .tcell {
        max-width: 80px;
        min-width: 80px;
        width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;

        &.trainee-by-month{
          @include ellipsis(100px);
        }
      }

      .ft-month {
        position: absolute;
      }

      &.clear-both > .tcell {
        height: 30px;
        min-height: 30px;
        max-height: 30px;
      }
    }

    .scrollbarH {
      margin-left: 310px;
    }

    .total-trainees {
      font-size: 16px;
    }
  }

  #universities {
    @include fixed-statistic-style;

    .tcell {
      @include tcell-statistic-style("university");
    }
  }

  @include tbl-statistic-style("universities");

  #languages {
    @include fixed-statistic-style;

    .tcell {
      @include tcell-statistic-style("language");
    }
  }

  @include tbl-statistic-style("languages");

  #locations {
    @include fixed-statistic-style;

    .tcell {
      @include tcell-statistic-style("location");
    }
  }

  @include tbl-statistic-style("locations");

  #trainee_types {
    @include fixed-statistic-style;

    .tcell {
      @include tcell-statistic-style("trainee_type");
    }
  }

  @include tbl-statistic-style("trainee_types");

  #stages {
    @include fixed-statistic-style;

    .tcell {
      @include tcell-statistic-style("stage");
    }

    .tcell {
      @include tcell-statistic-style("language")
    }
  }

  @include tbl-statistic-style("stages");

  .filter_form_chart {
    border: 1px solid #BCD;
    padding: 10px;
    margin-bottom: 20px;

    .locations-filter {
      margin-bottom: 20px;
    }


    label {
      &.location, &.trainee_type {
        font-weight: normal;
      }
    }
  }
  #trainee_progress {
    @include customize-scrollbar;
    .scrollbar{
      top: 45px;
    }
    .f-trainee_type{
      left: 375px !important;
    }
    .f-location{
      left: 494px !important;
    }

    .fixedTable-body .tcell{
      padding: 0;
    }

    #loading{
      position: absolute;
      width: 28px;
      top: 90px;
      right: 50px;
      display: none;
    }

    .fixedTable-body {
      height: auto;
    }

    .fixedTitle, .fixedTable-sidebar, #parent, #child {
      width: 304px;
    }
    .fixedTitle{
      max-height: 47px;
      min-height: 31px;
    }
    .fixedTable-header{
      max-height: 47px;
      min-height: 31px;
    }

    .scrollbarH {
      margin-left: 304px;
      display: block !important;
    }
    .trow.header{
      height: 69px;
    }

    .tcell {
      height: 35px;
      padding-top: 9px;
      padding-left: 5px;
      &.stt {
        min-width: 35px;
        max-width: 35px;
      }

      &.staff_code {
        @include ellipsis(70px);
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.trainee_type {
        text-align: left;
        text-transform: capitalize;
        border-left: 0;
        @include ellipsis(80px);
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.location {
        min-width: 120px;
        max-width: 120px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.trainee_status {
        min-width: 112px;
        max-width: 112px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.language {
        min-width: 120px;
        max-width: 120px;
        position: relative;
      }
      &.trainee_name {
        min-width: 200px;
        max-width: 200px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.course_name {
        min-width: 150px;
        max-width: 150px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.course{
        min-width: 2180px;
        position: relative;
        display: inline-flex;
        .list-progbar{
          display: inline-flex;
          .prog-bar-cont{
            width: 350px;
            padding: 0 10px 0 10px;
            height: 25px;
            top: 5px;
          }
        }
        $top: 4px;
        .prog-bar-bg-finish{
          width: 300px;
          position: relative;
          top: $top;
          color: white;
          height: 25px;
          margin-left: 10px;
          text-align: center;
          background: grey;
          border-radius: 3px;

        }
        .prog-bar-bg-init{
          width: 300px;
          position: relative;
          top: $top;
          height: 25px;
          color: white;
          margin-left: 10px;
          text-align: center;
          background: green;
          border-radius: 3px;
        }
        .prog-bar-bg-waiting{
          width: 300px;
          position: relative;
          top: $top;
          height: 25px;
          margin-left: 10px;
          text-align: center;
          background: orange;
          border-radius: 3px;
        }
        .prog-bar-bg-processing{
          width: 300px;
          position: relative;
          top: $top;
          height: 25px;
          margin-left: 10px;
          text-align: center;
          border-radius: 3px;
          background: linear-gradient(to right, mix(violet, deepskyblue, 20%),
          mix(limegreen, yellow, 70%), yellow, orange, mix(red, deeppink, 20%) );
        }
        .prog-bar-bg-empty{
          width: 300px;
          margin-left: 10px;
          position: relative;
          top: 5px;
        }
      }
    }
  }
}
