@import "variables";
@import "mixin";

#total_trainees {
  @include customize-scrollbar;

  .fixedTable-body {
    height: auto;
  }

  .fixedTitle, .fixedTable-sidebar, #parent, #child {
    width: 310px;
  }

  .tcell {
    &.stt {
      min-width: 35px;
      max-width: 35px;
    }

    &.trainee_type {
      text-align: left;
      text-transform: capitalize;
      border-left: 0;
      @include ellipsis(150px);
      position: relative;
    }

    &.programming_language{
      @include ellipsis(125px);
      position: relative;
    }

    &.trainee-by-month{
      @include ellipsis(100px);
    }
  }

  .month {
    @include experiences-title(31px);
    position: relative;
  }

  .all-months {
    border-right: 1px solid #ccc;
    .tcell {
      max-width: 80px;
      min-width: 80px;
      width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;

      &.trainee-by-month{
        @include ellipsis(100px);
      }
    }

    &.clear-both > .tcell {
      height: 30px;
      min-height: 30px;
      max-height: 30px;
    }
  }

  .scrollbarH {
    margin-left: 310px;
  }
}
