#subject-show {
  .subject-overview {
    .description {
      font-size: 120%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  #TaskModal {
    .modal-body > div.form-group {
      min-height: 30px;
    }
  }

  .user-task {
    padding: 5px 5px 10px 5px;
    background-color: #f3f3e7;

    .overview {
      font-size: 150%;
      color: #575a5b;
      margin-bottom: 1.25em;
      position: relative;
    }

    .assign-task {
      .col-md-2 {
        padding-right: 0px;
        width: 15%;
      }
    }

    .task-description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .member-title {
    font-size: 16px;
  }

  .btn-new-task {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
  }

  .pull-requestes {
    position: relative;
    min-height: 45px;
    .task-pullurl {
      position: absolute;
      input {
        margin-top: 10px;
      }
    }

    .col-md-1 {
      padding-left: 0px;
      padding-right: 5px;
    }

    .btn-rm-pull {
      position: absolute;
      right: 0;
      top: 10px;
    }
  }

  .fa.fa-times {
    font-size: 17px;
    position: relative;
    top: -5px;
    left: -1px;
  }

  .btn-action, .btn-finished, .btn-continued, .btn-finish {
    font-size: 12px;
    line-height: 3;
    padding: 0 2em;
    border-radius: 100px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background-color: transparent;
    border: 1px solid #21abc7;
    color: #21abc7;
  }

  .btn-finish, .btn-continue, .btn-finished, .btn-continued {
    border: 1px solid rgba(255, 153, 0, 0.9);
    color: rgba(255, 153, 0, 0.9);
  }

  .btn-action:hover {
    background-color: #21abc7;
    border-color: #21abc7;
    color: #fff;
  }

  .btn-finish:hover, .btn-finished:hover, .btn-continued:hover {
    background-color: rgba(255, 153, 0, 0.9);
    border-color: rgba(255, 153, 0, 0.9);
    color: #fff;
  }

  .note:hover {
    background-color: #eaeaea;
  }

  .btn-finish-task, .btn-continue-task {
    margin-top: 25px;
    margin-right: 5px;
    width: 100px;
  }

  .action-status {
    display: inline-flex;
  }

  .list-group-item {
    &:hover {
      background: #eee;
    }
  }
  #user-course-project-modal {
    .modal-dialog {
      .panel-info > .panel-heading {
        color: white;
        background-color: cadetblue;
        border-color: #bce8f1;
      }
    }
  }
}

.header-title {
  font-size: 200%;
  color: #575a5b;
  font-weight: 700;
}

.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.8) !important;
  opacity: .8;
}

.dialog {
  display: none;
}

.stt-finish {
  background-color: rgba(100,100,100,0.7);
}

.stt-init {
  background-color: rgba(104, 159, 56, 0.7);
}

.stt-progress {
  background-color: rgba(33, 150, 243, 0.7);
}

.stt-request {
  background-color: rgba(244, 81, 30, 0.7);
}

.stt-waiting {
  background-color: rgba(255, 145, 0, 0.7);
}

.stt-user-subject {
  height: 25px;
  width: 90%;
}
