.tcell {
  display: table-cell;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 0px 5px;

  &.actions {
    min-width: 135px;
    width: 135px;
    max-width: 150px;
  }
}

.tbl {
  display: table;
  border: 1px solid #ccc;
  border-top: 0px;
  width: 100%;
  margin-bottom: 0px;

  .tbl-row {
    display: table-row;

    &.header {
      background-color: #F5F5F5;
      height: 30px;
      min-height: 30px;
      max-height: 30px;
      font-weight: bold;
      .tcell {
        border-bottom: 1px solid #ccc;
      }
    }

    &:last-child {
      .tcell {
        border-bottom: none;
      }
    }
  }
}

.fixedTable-header, .fixedTitle {
  font-weight: bold;
}

#custom-find-in-page {
  position: fixed;
  top: 65px;
  right: 50px;
  display: none;
  .navbar-form{
    margin: 10px;
  }

  .counter-form{
    position: relative;
    display: inline;
  }

  #keywords{
    height:30px;
    padding-right: 10px;
  }

  #counter{
    position: absolute;
    right: 0px;
    z-index: 99;
    padding: 7px 7px;
  }

  #navigate{
    display: inline;
  }

  #prev, #next{
    margin-bottom: 10px;
    height: 30px;
    width: 25px;
    .glyphicon{
      margin-left: -6px;
    }
  }

  #cancel{
    top: -5px;
    height: 30px;
    width: 25px;
    padding: 0px 5px;
    font-weight: bold;
  }
}

.fa {
  font: normal normal normal 14px/1 FontAwesome, sans-serif;
}

.tbl-wrapper{
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  .tcell {
    padding: 0px 16px!important;
  }
}

#fixed-bottom-sidebar, #fixed-bottom-body {
  max-height:22px;
  min-height: 22px;
    font-weight: normal;
  .scroll-month {
    height: 22px;
    .tcell {
      height: 22px;
      text-align: right;
    }
  }
}

.fixedTable-body .tcell.check  {
  border-right: 2px solid #ccc;
}

.table {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  position: relative;
}

.thead {
  display: table-header-group;
}

.sub-header {
  display: table-row;
  border-top: 1px solid #ccc;
  background: #F5F5F5;
  height: 30px;
  cursor: pointer;
}

.trow {
  display: table-row;
  padding: 2px;
}

.tbody {
  display: table-row-group;
  border: 0;
}

.fixedTitle {
  width: 245px;
  height: 61px;
  max-height: 61px;
  min-height: 61px;
  overflow: hidden;
  background-color: #F5F5F5;
  border-bottom: 1px solid #CCC;
  border-right: 2px solid #CCC;
  float: left;
  .tcell {
    border-top: none;
  }
  .trow.header {
    height: 61px;
  }
}

.fixedTable-header {
  width: auto;
  height: 61px;
  max-height: 61px;
  min-height: 61px;
  overflow: hidden;
  background-color: #F5F5F5;
  border-bottom: 1px solid #CCC;
  margin-right: 12px;
  > .tcell {
    height: 61px;
    max-height: 61px;
    min-height: 61px;
  }

  .tcell {
    border-top: none;
    &.month {
      min-width: 75px;
      max-width: 75px;
      width: 75px;
      border: none;
      vertical-align: middle;
      height: 30px;
    }
  }

  .tcell-month {
    display: table-cell;
    border-right: 0;
    height: 61px;
    max-height: 61px;
    min-height: 61px;
    .tcell {
      height: 30px;
      min-height: 30px;
      max-height: 30px;
    }
  }

  .scroll-month {
    height: 61px;
    > .tcell {
      border-top: none;
      height: 61px;
    }

    .tbody:last-child .tcell  {
      border-top: 1px solid #ccc;
    }

    .trow.header .tcell:last-child {
      border-right: 2px solid #ccc;
    }
  }
}

.fixedTable-sidebar {
  overflow: hidden;
  width: 245px;
  height: auto;
  border-right: 2px solid #CCC;
  float: left;
}

.fixedTable-body {
  overflow: hidden;
  width: auto;
  border-left: 0;
  margin-right: 12px;
}

#parent{
  height: 100%;
  width: 245px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#parent::-webkit-scrollbar {
  display: none;
}

#child {
  width: 245px;
  height: auto;
  overflow: hidden;
}

.orange-highlight-color {
  background-color: #faffbd;
}

#change-color {
  width: 100%;
}

#number-records-month {
  position: absolute;
  top: 7px;
  left: -80px;
  width: 120px;
}
