#timeline-embed {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  .vco-slider .slider-item .content
    .content-container .media .media-wrapper
    .media-container .plain-text .container {
    text-align: left;
    padding-left: 30%;
  }
}
