#timeline-embed {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  .vco-slider .slider-item .content
    .content-container .media .media-wrapper
    .media-container .plain-text .container {
    text-align: left;
    padding-left: 30%;
    color: white;
  }
  .media {
    height: 300px;
    overflow-y: auto;
  }
  .vco-slider .slider-item {
    bottom: 20px;
  }
  .vco-slider .slider-item .content .content-container .text .container .slide-tag {
    background-color: transparent;
  }
  .vco-slider .slider-item .content .content-container.layout-text-media.pad-left .text-media {
    margin-top: 15px;
  }
  .description {
    border-radius: 7px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    text-shadow: none;
    font-size: 15px;
    line-height: 17px;
    padding: 10px;
    font-style: italic;
  }

  .vco-storyjs a {
    color: #0088cc;
  }

  .vco-slider .slider-item .content {
    background-color: darkslategrey;
  }

  .text-white {
    color: white;
  }

  .text-bisque {
    color: bisque;
  }
  .label-status {
    padding: 0px 3px 1px 0;
  }
  .vco-timeline .vco-navigation {
    height: 120px;
    .timenav-background {
      height: 60px;
    }
    .timenav .time .time-interval-minor .minor {
      top: -80px;
    }
    .timenav .time .time-interval {
      top: -75px;
    }
    .timenav-background .timenav-line {
      height: 68px;
    }
    .timenav .content .marker .line {
      height: 68px
    }
    .timenav-background .timenav-interval-background {
      top: 69px;
    }
    .timenav .content .marker .line .event-line {
      top: 68px !important;
    }
    .timenav .content .marker .dot {
      top: 68px;
    }
    .vco-toolbar {
      top: 0;
    }
    .timenav .content .marker .flag .flag-content {
      height: 41px;
      width: 140px;
      border-radius: 4px;
      background-image: none;
      border: 1px solid white;
      padding: 0px 7px 2px 4px;
    }
    .timenav .content .marker .flag-small .flag-content {
      height: 17px;
    }
    .timenav .content .marker .flag-small:hover,
      .timenav .content .marker .flag:hover {
      background-image: none;
    }
    .timenav .content .marker .flag-small .flag-content .thumbnail {
      width: 10px;
    }
    .timenav .time .time-interval-major {
      top: -75px;
    }
  }
  .user_task {
    position: relative;
    display: inline-flex;
    width: 100%;
    .status {
      position: absolute;
      right: 0;
    }
  }
}
