#body_modal_task {
  background-color: rgba(89, 146, 189, 0.7);
  .modal-header {
    min-height: 30px;
    border-bottom: none;
    .close {
      margin-top: -5px;
      .fa {
        font-size: 16px;
      }
    }
    .title-todo-list {
      color: white;
      border-bottom: 1px white solid;
    }
  }
}
#to_do_list {
  padding: 10px 0 10px 0
}
#tabs {
  body{
    margin-top: 100px;
    font-family: 'Trebuchet MS', serif;
    line-height: 1.6
  }
  .container{
    width: 800px;
    margin: 0 auto;
  }

  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  ul.tabs li.current{
    background: white;
    color: #222;
  }

  .tab-content{
    display: none;
    background: white;
    padding: 15px;
    width: 50%
  }

  .tab-content.current{
    display: inherit;
  }
}

#tab-my-task, #tab-task-history {
  .row {
    border-top: double thin
  }
  .height-20px {
    height: 20px;
  }
  .space {
    height: 30px;
    border-top: double thin;
    text-align: center
  }
  .height-20px-border {
    height: 20px;
    border-left: double thin;
  }
  .task_detail {
    height: 400px;
    border-left: double thin;
    .task_detail_input {
      border-bottom: double thin;
      width: 80%;
      margin-left: 10%;
      text-align: left;
      height: 60px;
      h5 {
        text-align: center
      }
    }
    .task_detail_button {
      width: 80%;
      margin-left: 10%;
      text-align: center;
      height: 50px;
      margin-top: 20%
    }
  }
  .div_user_task {
    height: 250px;
    overflow: auto
  }
  .div_task_finished_on_day {
    height: 100px;
    overflow: auto
  }
  .div-task-history {
    height: 400px;
    overflow: auto
  }
  .dolist {
    .task {
      border: double thin;
      text-align: left;
      h5 {
        text-align: center
      }
    }
    .space {
      height: 5px
    }
  }
}
