$white: #fff;
$color_mountain_mist_approx: #999;
$color_boston_blue_approx: #428bca;
$alabaster: #fafafa;
$color-light-gray: #ccc;
$black: #000;
$color_celeste_approx: #ccc;
$color_alto_approx: #ddd;
$color_border_approx: #ccc;
$color_bg_title_approx: #ddd;
$gray-lighter: #333;
