<div>
  <div class="row">
    <div class="col-md-6 profile-form">
      <%= render "user_stage", f: f %>
    </div>

    <div class="col-md-6 profile-form">
      <%= render "user_detail", f: f %>
    </div>
  </div>
</div>
