<div id="exams">
  <% if @exam.finish? %>
    <% provide :title, @exam.user_subject.subject.name %>
    <div id="show-exam">
      <%= render "show_exam" %>
    </div>
  <% else %>
    <% provide :title, t("exams.do_exam",
      name: @exam.user_subject.subject.name) %>
    <div id="do-exam">
      <%= render "do_exam" %>
    </div>
  <% end %>
</div>
