<a href="#" class="menu-side-bar-left" data-toggle="control-sidebar">
  <i class="fa fa-gears"></i>
</a>

<%= link_to eval("#{@namespace}_root_path"), class: "logo" do %>
  <span class="logo-lg"><%= t :name_system %></span>
<% end %>
