<ul class="treeview-menu">
  <% object.each do |item| %>
    <li>
      <%= link_to [@namespace.to_sym, item.table_name.to_sym] do %>
        <i class="fa fa-circle-o"></i>
        <%= t "layouts.#{item.table_name}" %>
      <% end %>
    </li>
  <% end %>
</ul>
