<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
  <% objects.each do |object| %>
    <% if policy controller: "#{object.constantize.table_name}",
      action: "index" %>
      <li>
        <%= link_to [@namespace.to_sym, object.constantize.table_name.to_sym] do %>
          <%= t "layouts.#{object.constantize.table_name}" %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
