<% user_subject.user_tasks.each do |user_task| %>
    <% if user_task.send "#{status}?" %>
      <div class="text text-danger">
        - <%= user_task.task_name %>
      </div>
    <% end %>
<% end %>
